.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer-container {
  background-color: transparent;
  color: black;
}

.mat-sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;

    &:after {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      background: #ffffff;
      opacity: 0.93;
    }
  }
  .side-bar-content {
    z-index: 1;
    position: relative;
    padding: 10px;
    color: black;
    height: 70vh;

    .header-text {
      display: inline-flex;
      align-items: center;
      margin-bottom: 20px;
      .logo {
        margin-right: 10px;
        width: 40px;
        @media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
          width: 90%;
        }
        img {
          width: 100%;
        }
      }
      .text {
        font-weight: 600;
        text-transform: capitalize;
        color: #FDB143;
        font-size: 12px;

        span {
          display: block;
        }
      }
    }
    .header-image {
      text-align: center;
      border-bottom: 1px solid #39b54a;
      .image-wrapper {
        border: 1px solid #39b54a;
        width: 60px;
        height: 60px;
        padding: 5px;
        margin: 0 auto;
        border-radius: 50%;
        .image {
          width: 60px;
          height: 58px;
          border-radius: 50%;
          img {
            width: 100%;
            border-radius: 50%;
          }

        }
      }
      .text {
        padding: 10px 0px;
        span {
          display: block;
        }
        .name {
          font-weight: 600;
          margin-bottom: 5px;
        }
      }
    }
    .header-nav-list {
      height: 100%;
      padding-top: 2rem;
      .mat-raised-button {
        border: 1px solid #39b54a;
        background-color: transparent;
        &:hover {
          background-color: #39b54a;
          color: #ffffff;
        }
      }
      .nav-list {
        text-align: left;
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 8px;
        text-transform: capitalize;
        color: #39b54a;
        .mat-icon {
          margin-right: 20px;
        }
        .btn-text {
          display: inline-block;
          margin-top: 2px;
        }
        .counter {
          width: 20px;
          height: 20px;
          background-color: #fb4f31;
          display:flex;justify-content:center;align-items:center;
          position: absolute;
          top: 15px;
          right: 10px;
          color: #ffffff;
          font-size: 10px;
          border-radius: 50%;
        }
      }

      .active-link {
        background-color: #39b54a !important;
        color: #ffffff !important;
      }
    }

  }
}

.side-menu {
  border: 1px solid white;
  .side-menu-header {
    background-color: #39b54a;
    height: 55px;
    .toolbar-image {
      text-align: right;
      display:flex;
      justify-content:flex-end;

      .social-list {
        margin: 0;
        padding: 0;
        width: 200px;
        margin-right: 1rem;
        margin-top: 5px;
        .list-item {
          list-style-type: none;
          display: inline-block;
          cursor: pointer;
        }
      }

      .profile-image {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        border-radius: 50%;
        display: block;
        border: 2px solid white;
        padding: 3px;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
        }
  }
  .banner {
    height: 150px;
    background-image: url(../../../assets/banner.jpg);
    text-align: center;

    .banner-text {
     padding-top: 3rem;
     h3,.sub-text {
       color: #fff;
       font-weight: 600;
       font-size: 32px;
     }
     .highlight-text {
       color: #39b54a;
     }
     .sub-text {
       font-size: 16px;
     }
    }

  }
}



.flex-grid {
  display: flex;

  width: 100%;
}
.flex-grid > details {
  flex-grow: 8;
}
.col {
  flex: 1;

}

::ng-deep .mat-menu-panel {
  /* styles h ere */
  border:1px solid #39b54a;
  background-color: #ffffff;
  width: 20vw;
  padding: 10px;
  .profile-details {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #39b54a;
    width: 100%;
    padding-bottom: 20px;
    .details {
      color: #90949c;
      .profile-image {
        display: block;
        background-color: #39b54a;
        width: 70px;
        height: 70px;
        border-radius: 5px;
        margin-right: 20px;
      }
      span {
        display: block;
      }
      .name {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 2px;
      }
      .email {
        font-size: 11px;
        font-weight: 500;
      }
      .view-button {
        font-size: 12px;
        background-color: #7f9983;
        border-radius: 20px;
        padding: 12px;
        line-height: 0;
        font-weight: 100;
      }
    }
  }
  .profile-nav-list{
    width: 100%;
    padding-top: 1rem;
    border-bottom: 1px solid #39b54a;
    cursor: pointer;
    &:last-child{
      border-bottom: 0;
    }
    .nav-list {
      width: 100%;
      margin-bottom: 5px;
      display: block;
       padding: 5px;
       color: #90949c;
       text-transform: capitalize;
       position: relative;
      .mat-icon {
        vertical-align: sub;
        margin-right: 20px;
      }
      .btn-text {
        margin-top: -6px;
        display: inline-block;
        vertical-align: middle;
      }
      .counter {
        width: 20px;
        height: 20px;
        background-color: #fb4f31;
        display:flex;justify-content:center;align-items:center;
        position: absolute;
        top: -4px;
        left: 12px;
        color: #ffffff;
        font-size: 10px;
        border-radius: 50%;
      }
    }
  }

}

//resubale styles
