 <mat-sidenav-container class="container">
  <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened">
    <div class="sidebar-background" style="background-image: url(./assets/sidebar-4.jpg)"></div>
    <div class="side-bar-content">
        <div class="side-bar-header">
          <!--header logo and text-->
          <div class="header-text">
            <div class="logo">
              <img src="../../../assets/logo.png" alt="logo" />
            </div>
            <div class="text">
              <span>ZIBI APP</span>
              <span>powered by ACF</span>
            </div>
          </div>

          <!--Header Image Thumbnail and Member Number-->
          <div class="header-image">
            <div class="image-wrapper">
              <div class="image">
                <img src="../../../assets/userIcon2.jpg" alt="user">
              </div>
            </div>
            <div class="text">
              <span class="name"> {{userDetails.fullName.split(' ')[0]}} &nbsp;{{userDetails.fullName.split(' ')[1]}}</span>
              <span class="afc-number">  {{userDetails.membershipNumber}} </span>
            </div>
          </div>
        <!--Nav List Items-->
          <div class="header-nav-list">
             <a mat-raised-button class="nav-list" routerLink="./home" routerLinkActive="active-link">
               <mat-icon>dashboard</mat-icon>
               <span class="btn-text">dashboard</span>
             </a>
             <a mat-raised-button class="nav-list" routerLink="./profile" routerLinkActive="active-link">
              <mat-icon>person</mat-icon>
              <span class="btn-text">personal information</span>
            </a>
             <a mat-raised-button class="nav-list" routerLink="./map" routerLinkActive="active-link">
              <mat-icon>language</mat-icon>
              <span class="btn-text">Geographic information</span>
            </a>
            <a mat-raised-button class="nav-list" routerLink="./payments-payouts" routerLinkActive="active-link">
              <mat-icon>payment</mat-icon>
              <span class="btn-text">payments and payouts</span>
            </a>
            <a mat-raised-button class="nav-list" routerLink="./notifications" routerLinkActive="active-link">
              <mat-icon>notifications</mat-icon>
              <span class="btn-text">notifications</span>
              <div class="counter">
                  10
              </div>
            </a>
            <a mat-raised-button class="nav-list" routerLink="./traditional-content" routerLinkActive="active-link">
              <mat-icon>language</mat-icon>
              <span class="btn-text">traditional content</span>
            </a>

            <a mat-raised-button class="nav-list"  routerLink="./social-economic" routerLinkActive="active-link">
              <mat-icon>group_work</mat-icon>
              <span class="btn-text">social & economic content</span>
            </a>
               <!-- Todo , for mobile -> (click)="sidenav.toggle()" -->
            <a mat-raised-button class="nav-list" routerLink="./calendar" routerLinkActive="active-link">
              <mat-icon>calendar_today</mat-icon>
              <span class="btn-text">Calendar</span>
            </a>

          </div>
          </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="side-menu">
    <mat-toolbar color="primary" class="side-menu-header" [class.mat-elevation-z8]="isActive">

      <div class="flex-grid">
        <div class="col">
          <button mat-icon-button (click)="sidenav.toggle()" *ngIf="!opened">
            <mat-icon>menu </mat-icon>
          </button>
        </div>
        <div class="col">
          <div class="toolbar-image">
           <!--Social Icons -->

           <ul class="social-list">
             <li class="list-item">
               <a href="https://www.facebook.com/">
                <img src="../../../assets/icon-facebook.png"  alt="facebook">
              </a>
             </li>
             <li class="list-item">
              <a href="https://www.instagram.com/">
                <img src="../../../assets/icon-instagram.png" alt="instagram">
               </a>
             </li>
             <li class="list-item">
               <img src="../../../assets/icon-twitter.png" alt="twitter">
             </li>
             <li class="list-item">

              <a href="https://wa.me/%2B27728730116/">
               <img src="../../../assets/icon-whatsapp.png" alt="whatsapp">
              </a>
             </li>
           </ul>

           <!--End of Social Icons -->


            <a href="javascript:void" class="profile-image" [matMenuTriggerFor]="menu">
              <img src="../../../assets/userIcon2.jpg" alt="">
            </a>
            <mat-menu class="profile-menu" #menu="matMenu" >
              <div class="profile-details">
                    <div class="details">
                      <img src="../../../assets/userIcon2.jpg" class="profile-image" alt="">
                    </div>

                  <div class="details">
                    <span class="name"> {{userDetails.fullName.split(' ')[0]}} &nbsp;{{userDetails.fullName.split(' ')[1]}}</span>
                    <span class="email"> {{userDetails.email}}</span>
                    <button mat-raised-button class="view-button" routerLink="./profile">view profile</button>
                  </div>
              </div>
              <div class="profile-nav-list">
                <a  class="nav-list" routerLink="./home" routerLinkActive="active-link">
                  <mat-icon>person</mat-icon>
                  <span class="btn-text">my profile</span>
                </a>
                <a  class="nav-list" routerLink="./payments-payouts" routerLinkActive="active-link">
                  <mat-icon>payment</mat-icon>
                  <span class="btn-text">payments and payouts</span>
                </a>
               <a class="nav-list" routerLink="./notifications" routerLinkActive="active-link">
                 <mat-icon>notifications</mat-icon>
                 <span class="btn-text">notifications</span>
                 <div class="counter">
                     10
                 </div>
               </a>
             </div>
             <div class="profile-nav-list">
              <a  class="nav-list" routerLink="./home" routerLinkActive="active-link">
                <mat-icon>settings</mat-icon>
                <span class="btn-text">privacy settings</span>
              </a>
              <a  class="nav-list" (click)="logout()" routerLinkActive="active-link">
                <mat-icon>power_settings_new</mat-icon>
                <span class="btn-text">logout</span>
              </a>
           </div>
            </mat-menu>
          </div>
        </div>
     </div>

    </mat-toolbar>
    <div class="banner">
      <!-- <img src="../../../assets/banner.jpg" alt=""> -->
      <div class="banner-text">
        <h3>Welcome <span class="highlight-text"> {{userDetails.clanName.split(' ')[0]}}</span></h3>
        <span class="sub-text">from <span class="highlight-text">{{userDetails.village}}</span> and proudly Hlubi</span>
      </div>
    </div>
    <router-outlet></router-outlet>
   <!-- <div class="contents" [class.mat-elevation-z8]="isActive">
    <div class="content-headers">

    </div>

    </div> -->
  </mat-sidenav-content>
 </mat-sidenav-container>



