.header-container {
  padding: 0.7rem 7rem;
  background-color: #ffffff;;
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    padding: 0.7rem 3rem;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    padding: 0.7rem;
  }
  .header-text {
    display: inline-flex;
    align-items: center;
    .logo {
      margin-right: 10px;
      width: 50px;
      @media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 90%;
      }
      img {
        width: 100%;
      }
    }
    .text {
      font-weight: 600;
      text-transform: capitalize;
      color: #39b54a;
      font-size: 18px;
    }
  }

  .login-buttons {
    text-align: right;
    padding-top: 10px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
      padding-top: 0;
    }
    .btn {
      margin-right: 10px;
      background-color: #39b54a;
      &:last-child {
        margin: 0;
      }
    }
    .mobile-login {
      @media only screen and (min-device-width: 1024px)  {
        display: none;
      }
    }
    .desktop-login {
      @media only screen and (min-device-width: 320px) and (max-device-width: 1023px)  {
        display: none;
      }
    }
    // for mobile
    .mat-icon {
      color: #39b54a;
      font-size: 60px;
      margin-right: 2rem;
    }

  }
}

// use this color #39b54a green

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
