<div class="header-container" [class.mat-elevation-z8]="isActive">
  <div class="flex-grid">
    <div class="col">
      <div class="header-text">
        <div class="logo">
          <img src="../../../assets/logo.png" alt="logo" />
        </div>
        <div class="text">Zibi App powered by ACF</div>
      </div>
    </div>
    <div class="col">
      <div class="login-buttons">
        <!--Buttons for Mobile-->
        <div class="mobile-login">
          <mat-icon [matMenuTriggerFor]="beforeMenu">person_pin</mat-icon>
          <!-- <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button> -->
          <div class="menu-mobile">
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              <button mat-menu-item>Log In</button>
              <button mat-menu-item>Join Now</button>
            </mat-menu>
          </div>
        </div>

          <!--Buttons for Desktop-->
        <div class="desktop-login">
          <button class="btn" color="primary" mat-raised-button routerLink="./login">Log In</button>
          <button class="btn" color="primary" mat-raised-button routerLink="./register">
            Join Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
