.content-text {
  .text {
    margin-bottom: 5px;
    span {
      display: inline-block;
    }
    .icon {
      margin-right: 5px;
      color: #39b54a;
    }
    .name {
      width: 135px;
      vertical-align: super;
    }
    button {
      border:1px solid #6E6E6E;
      color: #39b54a;
      line-height: 1.5;
      padding: 0;
      font-weight: 400;
      border-radius: 25px;
      padding: 2px 10px;
      vertical-align: super;
      &:hover {
        background-color: #39b54a;
        color: #ffffff;
      }
    }
  }
}
::ng-deep .mat-dialog-container {
  background-color: #ffffff;
  color: #6E6E6E !important;
}
