<div class="content-text">
  <h3>Amahlubi Villages</h3>
  <div class="text" *ngFor="let item of villages">
    <span class="icon">
      <mat-icon>double_arrow</mat-icon>
    </span>
    <span class="name">{{item.villageName}}</span>
    <button mat-button >view details</button>
  </div>
</div>
