agm-map {
  height: 300px;
}
.map {
  width: 80%;
  display: inline-block;
  .map-image {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .map-icon {
    font-size: 40px;
    color: #39b54a;
    position: absolute;
    top: 28%;
    right: 50%;
    cursor: pointer;
  }
}
.map-details {
  display: inline-block;
  width: 18%;
  vertical-align: top;
  color: #6E6E6E;
  padding-left: 10px;
  .icon-details {
    margin-bottom: 10px;
    .mat-icon {
      margin-right: 5px;
      display: inline;
    }
    .blue {
      color: lightblue;
    }
    .brown {
      color: brown;
    }
    .text {
      vertical-align: top;
      display: inline-block;
      margin-top: 10px;
    }
  }
  h4 {
    font-weight: bold;

  }
  .mat-icon {
    font-size: 40px;
    color: #39b54a;
  }
  p {
    text-transform: capitalize;
  }
}
.content-text {
  .text {
    margin-bottom: 5px;
    span {
      display: inline-block;
    }
    .icon {
      margin-right: 5px;
      color: #39b54a;
    }
    .name {
      width: 135px;
      vertical-align: super;
    }
    button {
      border:1px solid #6E6E6E;
      color: #39b54a;
      line-height: 1.5;
      padding: 0;
      font-weight: 400;
      border-radius: 25px;
      padding: 2px 10px;
      vertical-align: super;
      &:hover {
        background-color: #39b54a;
        color: #ffffff;
      }
    }
  }
}

::ng-deep.mat-menu-panel {
  // margin-top: 300px !important;
  background-color: #ffffff !important;
  color: #6E6E6E !important;
  border: 1px solid transparent !important;
  margin-top: 13px !important;
}


@-webkit-keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(5px) }
  100% { transform: translateY(-5px) }
}

@keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(5px) }
  100% { transform: translateY(-5px) }
}

.icon-animate {
   -webkit-animation: bounce 2s infinite ease-in-out;
  -o-animation: bounce 2s infinite ease-in-out;
  -ms-animation: bounce 2s infinite ease-in-out;
  -moz-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}

#map {
  height: 700px;
  width: 100%;
 }

 .firstHeading {
   border: 1px solid red !important;
 }
.gm-style-iw .gm-style-iw-c {
  border: 1px solid red !important;
}
