<div class="content">
  <div class="content-header">
    <span> Traditional council map</span>
  </div>
  <div class="content-body">
    <div class="map">
      <div #mapContainer id="map"></div>
    </div>
    <div class="map-details">
      <h4>Map Guideline</h4>
      <p>use this icon to view our villages</p>
      <div class="icon-details">
        <span>
            <img src="../../../../assets/green-pin.png" alt="mgwalana-icon">
        </span>
        <span class="text">Mgwalana</span>
      </div>
      <div class="icon-details">
        <span>
          <img src="../../../../assets/blue-icon.png" alt="amahlubi-icon">
      </span>
        <span class="text">Amahlubi</span>
      </div>
      <div class="icon-details">
        <span>
          <img src="../../../../assets/brown-pin.png" alt="royal-bafokeng-icon">
      </span>
        <span class="text" >Royal Bafokeng Nation</span>
      </div>
    </div>
  </div>
 </div>
