<div class="content">
  <!--Mobile View-->
  <ng-container class="mobile">
    <div class="mobile-layout">
      <div class="flex-grid">
        <div class="col">
          <div class="welcome-text">
            <span class="text">
              Welcome to <br />
            The Zibi App
            </span>
          </div>
        </div>
      </div>

      <div class="flex-grid">
        <div class="col">
          <div class="welcome-banner">
            <div class="logo-big">
              <img src="../../../assets/logoBig.png" alt="big logo" />
            </div>
          </div>
        </div>
      </div>

      <div class="flex-grid">
        <div class="col">
          <div class="welcome-buttons">
            <button class="welcome-btn active" mat-raised-button>
              <div class="text">Create A New Account. It's quick and easy.</div>
              <div class="icon">
                <mat-icon>arrow_forward_ios</mat-icon>
              </div>
            </button>
            <button class="welcome-btn" mat-raised-button>
              <div class="text">Amahlubi programs</div>
              <div class="icon">
                <mat-icon>arrow_forward_ios</mat-icon>
              </div>
            </button>
            <button class="welcome-btn" mat-raised-button>
              <div class="text">Read more about us, vist our website here</div>
              <div class="icon">
                <mat-icon>arrow_forward_ios</mat-icon>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container class="desktop">
    <div class="desktop-layout">
      <div class="flex-grid">
        <div class="col col-grow">
          <div class="welcome-text">
            <span class="text">
              Welcome to
             the Zibi App powered by ACF
            </span>
          </div>

          <div class="welcome-buttons">
            <button class="welcome-btn active" mat-raised-button routerLink="/register">
              <div class="text" >Create A New Account. It's quick and easy.</div>
              <div class="icon">
                <mat-icon>arrow_forward_ios</mat-icon>
              </div>
            </button>
            <button class="welcome-btn" mat-raised-button>
              <div class="text">Amahlubi programs</div>
              <div class="icon">
                <mat-icon>arrow_forward_ios</mat-icon>
              </div>
            </button>
            <button class="welcome-btn" mat-raised-button>
              <div class="text">Read more about us, vist our website here</div>
              <div class="icon">
                <mat-icon>arrow_forward_ios</mat-icon>
              </div>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="welcome-banner">
            <div class="logo-big">
              <img src="../../../assets/logoBig.png" alt="big logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
