.content {
  .mobile-layout {
    @media only screen and (min-device-width: 1024px)  {
      display: none;
    }
  }
  .desktop-layout {
    @media only screen and (min-device-width: 320px) and (max-device-width: 1023px)  {
      display: none;
    }
  }
  padding: 2rem 0.7rem;
  // Target Tablets
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
    padding: 4rem 3rem;
  }
  // Target Desktop and Above
  @media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    padding: 5rem 4rem;
  }
  @media screen and (min-device-width: 1200px)  and (-webkit-min-device-pixel-ratio: 1) {
    padding: 5rem 7rem;
  }

  .welcome-text {
    text-align: center;
    margin-bottom: 1rem;
    // Target Tablets and Above
    @media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
      margin-bottom: 2rem;
    }
    @media only screen and (min-device-width: 1024px)  {
      text-align: left;
      margin-bottom: 4rem;
    }
    .text {
      font-size: 25px;
      color: #39b54a;
      line-height: 1.4;

      @media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        font-size: 20px;
      }
      // Target Tablets and Above
      @media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 40px;
      }
      @media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 30px;
      }
      @media screen and (min-device-width: 1200px)  and (-webkit-min-device-pixel-ratio: 1) {
        font-size: 45px;
      }
    }
  }

  .welcome-buttons {
    width: 100%;
    // Target Tablets and Above
    @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
      width: 100%;
    }
    // Target Desktop and Above
    @media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    }
    @media screen and (min-device-width: 1200px)  {
     width: 32vw;
    }
    .welcome-btn {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 5px 10px;
      text-align: left;
      border: 1px solid #39b54a;
      background-color: transparent;
      color: #39b54a;
      position: relative;

      // Target Tablets and Above
      @media only screen and (min-device-width: 768px) {
        padding: 10px;
      }
      .text {
        font-size: 13px;
        // Target Tablets and Above
        @media only screen and (min-device-width: 768px) {
          font-size: 16px;
        }
      }
      .icon {
        position: absolute;
        right: 15px;
        top: 10px;
        padding: 0;
        // Target Tablets and Above
        @media only screen and (min-device-width: 768px) {
          padding-top: 5px;
        }
      }
      &:hover {
        background-color: #39b54a;
        color: #ffffff;
      }
    }
    .active {
      background-color: #39b54a;
      color: #ffffff;
    }
  }

  .welcome-banner {
    padding: 0;
    margin-bottom: 1rem;
    // Target Tablets
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      padding: 0;
      margin-bottom: 2rem;
    }
    // Target Desktop and Above
    @media only screen and (min-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {
      padding-top: 2rem;
      padding: 5rem 7rem;
    }
    .logo-big {
      width: 65vw;
      margin: 0 auto;
      img {
        width: 60vw;
        margin-top: -10px;
      }
      /* Landscape */
      @media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        text-align: center;
        img {
          width: 30vw;
        }
      }
      @media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
        padding-top: 45px;
        margin: 0 auto;
        width: 450px;
        text-align: center;
        img {
          width: 40vw;
          margin-bottom: 3rem;
        }
      }

      @media screen and (min-device-width: 1200px)  {
        img {
          width: 25vw;
        }
      }
    }
  }
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
.col-grow {
  flex-grow: 2;
}
