<div class="header-container" [class.mat-elevation-z8]="isActive">
  <div class="flex-grid">
    <div class="col">
      <div class="header-text" routerLink="">
        <div class="logo">
          <img src="../../../assets/logo.png" alt="logo" />
        </div>
        <div class="text">Zibi App powered by ACF</div>
      </div>
    </div>
    <div class="col">
      <div class="login-buttons">
        <!--Buttons for Mobile-->
        <div class="mobile-login">
          <mat-icon [matMenuTriggerFor]="beforeMenu">person_pin</mat-icon>
          <!-- <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button> -->
          <div class="menu-mobile">
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              <!-- <button mat-menu-item>Log In</button> -->
              <button mat-menu-item>Sign Up</button>
            </mat-menu>
          </div>
        </div>

          <!--Buttons for Desktop-->
        <div class="desktop-login">
          <!-- <button class="btn" color="primary" mat-raised-button routerLink="./login">Log In</button> -->
          <button class="btn" color="primary" mat-raised-button routerLink="/register">
            Join Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="user-container">
  <div class="login-form">
    <mat-card class="card" [class.mat-elevation-z8]="isActive">
      <div class="user-icon">
        <div class="icon">
          <mat-icon >person</mat-icon>
        </div>
        <div class="text">Log in</div>
      </div>
      <!--Form-->
      <form  #loginForm="ngForm" (ngSubmit)="loginForm.valid && onSubmit(loginForm)" class="form">
        <div class="fields">
          <mat-form-field>
            <mat-label>Membership number </mat-label>
            <input matInput type="text" name="membershipNumber" #membershipNumber="ngModel" [(ngModel)]="model.membershipNumber" required/>
            <mat-error *ngIf="membershipNumber.invalid">please enter membershipNumber</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" minlength=4 name="password" #password="ngModel" [(ngModel)]="model.password" required/>
            <mat-error *ngIf="password.invalid">please enter password</mat-error>
          </mat-form-field>
        </div>

        <button class="btn" color="primary" mat-raised-button type="submit">Login</button>
      </form>
    </mat-card>

    <div class="forgot-password">
      <span>Dont have an account ? <a href="javascript:void" routerLink="/register">Sign Up</a></span>
      <span>Forgotten your password ? <a href="javascript:void">Recover Password</a></span>
    </div>
  </div>
</div>



