<div class="content">
  <div class="content-header">
    <span> Payments And Payouts</span>
  </div>
  <div class="content-body">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, explicabo expedita? Fugiat hic eaque itaque autem vitae corporis consectetur beatae, delectus iure omnis optio quidem veritatis sunt, aliquid deserunt ratione?</p>
  </div>
 </div>
