.content-wrapper {
  margin: 4rem 2rem;
  .card {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    height: 100px;
    padding: 1rem;
    position: relative;
    margin-bottom: 4rem;
    .card-icon
    {
      background-color: #39b54a;
      position: absolute;
      width: 45px;
      height: 45px;
      color: #ffffff;
      padding: 20px;
      top: -20px;
      left: 16px;
      .mat-icon {
        font-size: 40px;
      }

    }
    .name {
      margin-top: 4rem;
      padding-top: 5px;
      border-top: 1px solid #39b54a;
      span {
        color: #39b54a;
        font-weight: 500;
      }
    }
    .card-video {
      width: 100%;
      height: 300px;
    }
    .clan-heading {
      font-size: 20px;
      font-weight: 600;
      color: #39b54a;
      text-align: center;
      display: block;
    }
    .card-clan {
      font-size: 18px;
      text-align: center;
      padding: 6rem 4rem;
      font-weight: 600;


    }
  }
  .card-bottom {
    height: 400px;
  }
}
::ng-deep iframe {
  width: 100%;
  height: 400px;
}
