<div class="content-wrapper">
  <div class="flex-grid">
    <div class="col" *ngFor="let card of cards">
      <div class="card">
        <div class="card-icon">
          <mat-icon>{{ card.icon }}</mat-icon>
        </div>
        <div class="name">
          <span>{{ card.cardName }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-grid-2">
    <div class="col col-6">
      <div class="card card-bottom">
        <div class="card-icon">
          <mat-icon>video_library</mat-icon>
        </div>
        <div class="card-video">
          <iframe
            src="https://www.youtube.com/embed/34xj0tioRn4?start=35?"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <div class="col col-4">
      <div class="card card-bottom">
        <span class="clan-heading">Totem(Iziduko/Sereto)</span>
        <div class="card-clan">
         {{ userDetails.clanName }}
        </div>
      </div>
    </div>
  </div>
</div>
