
// .flex-grid {
//   display: flex;
//   @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 600px)
//   and (-webkit-min-device-pixel-ratio: 2) {

//   display: block;

// }
// }
// .col {
//   flex: 1;
// }

// .wrapper {
//   // width: 600px;
//   padding: 3rem;

//   display: flex;
//   .item {
//     flex: 1 1 auto;
//     justify-content: space-between;
//   }
// }

// .wrap {
//   padding: 0px 3rem;
// }

.classK {
  border: 1px solid red;
}
