<!-- <div [ngClass]="">

</div> -->
<div *ngIf="!router.includes('login') && !router.includes('register') && !router.includes('dashboard')">
  <app-header></app-header>
  <app-content ></app-content>
</div>

<router-outlet></router-outlet>


