::ng-deep .mat-tab-label {
  border: 1px solid #39b54a;
  width: 33%;
  color: #39b54a;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
  .active {
    background-color: red;
  }

}
::ng-deep.mat-tab-label-active {

  background-color: #39b54a;
  color: #ffffff;
  border:none;
}


::ng-deep .mat-ink-bar {
background-color: #FDB143 !important;
}

.tab-content {
  padding: 3rem 0;
  .calendar-card {
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #39b54a;
    opacity: 0.8;
    height: 115px;
    margin-bottom: 10px;
    box-shadow: 0 8px 6px -6px black;
    .date-box {
      background-color: #39b54a;
      height: 110px;
      width: 120px;
      float: left;
      margin-right: 10px;
      box-shadow: 0 8px 6px -6px black;

      .date {
        width: 100%;
        height: 75px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-bottom: 1px dotted #ffffff;
        h2 {
          margin: 0;
          font-size: 3.2rem;
          font-weight: 600;
          color: #ffffff;
        }
      }
      .month {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        h3 {
          margin: 0;
          text-transform: uppercase;
          color: #ffffff;
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
    .date-content {
      h3 {
        font-weight: 600;
        margin-bottom: 1rem;
        color: #7f9983;
      }
    }
  }
}
