<div class="content">
  <div class="content-header">
    <span> Whats Happening at ZIBI APP </span>
  </div>
  <div class="content-body">
    <mat-tab-group>
      <mat-tab label="Events">
        <div class="tab-content">
          <div class="calendar-card" *ngFor="let event of events">
            <div class="date-box">
              <div class="date">
                <h2>{{event.date}}</h2>
              </div>
              <div class="month">
                <h3>{{event.month}}</h3>
              </div>
            </div>
            <div class="date-content">
              <h3>{{event.name}}</h3>
              <span>{{event.description}}</span>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="News">
        <div class="tab-content">
          <h1>News Section will be here</h1>
        </div> </mat-tab>
      <mat-tab label="Photos"><div class="tab-content">
        <h1>Photos Section will be here</h1>
      </div></mat-tab>
    </mat-tab-group>
    <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, explicabo expedita? Fugiat hic eaque itaque autem vitae corporis consectetur beatae, delectus iure omnis optio quidem veritatis sunt, aliquid deserunt ratione?</p> -->
  </div>
 </div>
