<div class="header-container" [class.mat-elevation-z8]="isActive">
  <div class="flex-grid">
    <div class="col">
      <div class="header-text" routerLink="">
        <div class="logo">
          <img src="../../../assets/logo.png" alt="logo" />
        </div>
        <div class="text">Zibi App powered by ACF</div>
      </div>
    </div>
    <div class="col">
      <div class="login-buttons">
        <!--Buttons for Mobile-->
        <div class="mobile-login">
          <mat-icon [matMenuTriggerFor]="beforeMenu">person_pin</mat-icon>
          <!-- <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button> -->
          <div class="menu-mobile">
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              <button mat-menu-item>Log In</button>
            </mat-menu>
          </div>
        </div>

        <!--Buttons for Desktop-->
        <div class="desktop-login">
          <button class="btn" color="primary" mat-raised-button routerLink="/login">
            Log In
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="user-container">
  <div class="login-form">
    <mat-card class="card" [class.mat-elevation-z8]="isActive">
      <div class="user-icon">
        <div class="icon">
          <mat-icon>person</mat-icon>
        </div>
        <div class="text">Sign Up Now</div>
      </div>
      <form #registerForm="ngForm" (ngSubmit)="registerForm.valid && onSubmit(registerForm)" class="form">
        <div class="fields">
          <mat-form-field>
            <mat-label>Membership number</mat-label>
            <input class="form-input" matInput type="text" name="membershipNumber" #membershipNumber="ngModel"
              [(ngModel)]="userService.selectedUser.membershipNumber" required />
            <mat-error *ngIf="membershipNumber.invalid">please enter your membership number</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Full names </mat-label>
            <input class="form-input" matInput type="text" name="fullName" #fullName="ngModel"
              [(ngModel)]="userService.selectedUser.fullName" required />
            <mat-error *ngIf="fullName.invalid">please enter name</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email </mat-label>
            <input matInput type="text" name="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email"
              required [pattern]="emailRegex" />
            <mat-error *ngIf="email.invalid">please enter email</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Totem(Iziduko/Sereto)</mat-label>
            <input class="form-input" matInput type="text" name="clanName" #clanName="ngModel"
              [(ngModel)]="userService.selectedUser.clanName" required />
            <mat-error *ngIf="clanName.invalid">Totem(Iziduko/Sereto)</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Village</mat-label>
            <input class="form-input" matInput type="text" name="village" #village="ngModel"
              [(ngModel)]="userService.selectedUser.village" required />
            <mat-error *ngIf="village.invalid">please enter your village</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" minlength="4" name="password" #password="ngModel"
              [(ngModel)]="userService.selectedUser.password" required />
            <mat-error *ngIf="password.invalid">please enter password</mat-error>
          </mat-form-field>


         
          <div> <label>I accept the terms and conditions</label>
            <input type="checkbox" />
          </div>



        </div>

        <button class="btn" color="primary" mat-raised-button type="submit">
          Register
        </button>
      </form>

      <div class="success" *ngIf="showSucessMessage">
        Saved successfully
      </div>

      <div class="alert" *ngIf="serverErrorMessages">
        {{ serverErrorMessages }}
      </div>
    </mat-card>
    <div class="forgot-password">

      <span>Already have an account ?
        <a href="javascript:void" routerLink="/login">Login</a></span>
    </div>
  </div>
</div>