/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #EDF0F1;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.success {
  padding: 20px;
  background-color: #249424; /* Green */
  color: white;
  margin-bottom: 15px;
}


.content {
  padding: 20px;
  margin: 4rem 2rem;
  background-color: #fff;
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    .content-header {
      border-radius: 5px;
      padding: 15px;
      background-color: #249424;
      box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
      color: #fff;
      margin-bottom: 2rem;
      margin-top: -45px;
      span {
        font-weight: 500;
      }
    }
    .content-body {

    }
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}
.flex-grid .col {
  width: 32%;
}


.flex-grid-2 {
  display: flex;
  justify-content: space-between;
}
.flex-grid-2 {
  .col {
    width: 32%;
    &:first-child {
       width: 66%;
    }
  }
}
.firstHeading {
  border: 1px solid red;
}

.content-text {
  .text {
    margin-bottom: 5px;
    span {
      display: inline-block;
    }
    .icon {
      margin-right: 5px;
      color: #39b54a;
    }
    .name {
      width: 135px;
      vertical-align: super;
    }
    button {
      border:1px solid #6E6E6E;
      color: #39b54a;
      line-height: 1.5;
      padding: 0;
      font-weight: 400;
      border-radius: 25px;
      padding: 2px 10px;
      vertical-align: super;
      &:hover {
        background-color: #39b54a;
        color: #ffffff;
      }
    }
  }
}
