<div class="content">
  <div class="content-header">
    <span> Traditional Content</span>
  </div>


  <div class="traditional-content">

    <div class="header-name">
      <span>Amahlubi traditional content</span>
    </div>
    <div class="information">
      <a href="../../../assets/Zibi.pdf">Zibi Royal Leadership Territory & Jurisdiction</a>
    </div>

    <div class="information">
      <a href="../../../assets/1702043.pdf">The history of the Zibi Rustenburg Farm Scheme</a>
    </div>
  </div>

  
  <div class="traditional-content">

    <div class="header-name">
      <span>Royal Bafokeng traditional content</span>
    </div>
    <div class="information">
      <a href="">Royal Bafokeng History document</a>
    </div>

    <div class="information">
      <a href="">Royal Bafokeng History document mining</a>
    </div>
  </div>


</div>

