<div class="content">
  <div class="content-header">
    <span> Social & Economic Content</span>
  </div>
  <div class="content-body">
    <div class="social-content">
      <div class="header-name">
        <span>Book club</span>
      </div>
      <div class="image-row">
        <div class="image-column" *ngFor="let image of images; let i = index">
            <img src="{{image.url}}" (click)="openModal();currentSlide(i+1)" class="hover-shadow cursor">
        </div>
     </div>
    </div>

    <div class="social-content">
      <div class="header-name">
        <span>COVID-19 Information</span>
      </div>
      <div class="information no-border">
        <div class="flex-grid">
          <div class="col" *ngFor="let card of cards">
            <div class="card" >
               <h3>{{card.title}}</h3>
               <span>{{card.details}}</span>
                <a href={{card.link}}>{{card.link}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-content">
      <div class="header-name">
        <span>Gender based violence</span>
      </div>
      <div class="information no-border">
        <div class="flex-grid">
          <div class="col" *ngFor="let cards of cards1">
            <div class="card" >
               <h3>{{cards.titleGBV}}</h3>
               <span>{{cards.detailsGBV}}</span>
               <img src="{{cards.imgGBV}}" class="hover-shadow cursor">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-content">
      <div class="header-name">
        <span>Ayakha loyalty program</span>
      </div>
      <div class="information">

      </div>
    </div>

    <!-- <div class="social-content">
      <div class="header-name">
        <span>Social Hub</span>
      </div>
      <div class="information">

      </div>
    </div>

   

    <div class="social-content">
      <div class="header-name">
        <span>Agriculture</span>
      </div>
      <div class="information">

      </div>
    </div>
  </div> -->

  <!--Modal-->

  <div id="imgModal" class="slide-modal">
    <span class="close cursor" (click)="closeModal()">&times;</span>
    <div class="slide-modal-content">
        <div class="img-slides" *ngFor="let image of images; let i = index">
            <img src="{{image.url}}">
        </div>
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
        <div class="image-row">
            <div class="image-column" *ngFor="let image of images; let i = index">
                <img class="images" (click)="currentSlide(i+1)" src="{{image.url}}">
            </div>
        </div>
    </div>
  </div>
 </div>
