.social-content {
  margin-bottom: 1rem;
  .header-name {
    font-size: 16px;
    font-weight: 600;
    color: #39b54a;
    margin-bottom: 10px;
  }
  .information {
    border: 1px solid #888888;
    height: 300px;
    .card {
      border: 1px solid #39b54a;
      height: 260px;
      padding: 20px;
      h3 {
        margin-bottom: 1rem;
        font-size: 16px;
        font-weight: 600;

      }
    }
  }
  .no-border {
    border: none;
  }
}




  .image-row {
	display: flex;
	flex-wrap: wrap;
	>.image-column {
		padding: 5px 10px;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.image-column {
	float: left;
	width: 25%;
}
img {
	width: 100%;
	margin-bottom: -4px;
}
.slide-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000000;
}
.slide-modal-content {
	position: relative;
	margin: auto;
	padding: 0;
	width: 100%;
	max-width: 1200px;
	.image-column {
		padding: 0;
	}
}
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
	&:hover {
		color: #888888;
		text-decoration: none;
		cursor: pointer;
	}
	&:focus {
		color: #888888;
		text-decoration: none;
		cursor: pointer;
	}
}
.img-slides {
	display: none;
}
.cursor {
	cursor: pointer;
}
.prev {
	cursor: pointer;
	position: absolute;
	top: 35%;
	width: auto;
	padding: 18px;
	margin-top: -50px;
	color: white !important;
	font-weight: bold;
	font-size: 20px;
	transition: 0.8s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
	-webkit-user-select: none;
	&:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}
}
.next {
	cursor: pointer;
	position: absolute;
	top: 35%;
	width: auto;
	padding: 18px;
	margin-top: -50px;
	color: white !important;
	font-weight: bold;
	font-size: 20px;
	transition: 0.8s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
	-webkit-user-select: none;
	right: 0;
	border-radius: 3px 0 0 3px;
	&:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}
}
.images {
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
}
.active {
	opacity: 1;
}
img.hover-shadow {
	transition: 0.3s;
}
.hover-shadow {
	&:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	}
}

  ::ng-deep iframe {
    width: 100%;
    height: 400px;
  }

